@model ToileDeFond.Security.ViewModels.LoginModel


<div class="container">
    <div class="row">
        <div class="span12">
            @Html.Partial("_LoginForm", Model)
        </div>
    </div>
</div>

