<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultConnectionString" value="ToileDeFondTests" />
  </appSettings>
  <connectionStrings>
    <add name="ToileDeFondTests" connectionString="Url=http://localhost:8081;database=ToileDeFond.Tests" />
  </connectionStrings>
</configuration>