<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultConnectionString" value="ToileDeFond" />
  </appSettings>
  <connectionStrings>
    <add name="ToileDeFond" connectionString="Url=http://localhost:8081;database=ToileDeFond" />
  </connectionStrings>
</configuration>